## Label Encoding :
  is a technique in machine learning used to convert categorical text data into numerical data. It is particularly useful when your data contains categorical variables that need to be converted into numerical values for machine learning algorithms to process.

# When to Use Label Encoding
#### Label Encoding works best when:

1 The categorical variable is ordinal (has an inherent order, e.g., 'Low', 'Medium', 'High').
2 The encoded numerical values wonâ€™t mislead the machine learning model into assuming a numeric relationship between the categories.

In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [20]:
data = pd.DataFrame({
    'Color': ['Red', 'Green', 'Blue', 'Green'],
    'Size': ['Small', 'Medium', 'Large', 'Medium']
})

In [22]:
label_encoder=LabelEncoder()
data['size_encoded']=label_encoder.fit_transform(data['Size'])
data

   Color    Size  size_encoded
0    Red   Small             2
1  Green  Medium             1
2   Blue   Large             0
3  Green  Medium             1

In [26]:
# N.B  label encoding is lead to mislead when we use with nominal variables so that do't use with nominal data 
# it use only with ordinal data or variables( we can not use with Color in the above data becuse it is naminal data)

In [38]:
df= pd.DataFrame({
    'Customer ID': ['001', '002', '003', '004', '005'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Review Sentiment': ['Positive', 'Negative', 'Neutral', 'Positive', 'Negative'],
    'Membership Level': ['Gold', 'Silver', 'Platinum', 'Gold', 'Silver']
})
data

  Customer ID  Gender Review Sentiment Membership Level
0         001    Male         Positive             Gold
1         002  Female         Negative           Silver
2         003    Male          Neutral         Platinum
3         004  Female         Positive             Gold
4         005    Male         Negative           Silver

In [40]:
le_encoder=LabelEncoder()
df['Review Sentiment_encoded']=le_encoder.fit_transform(df['Review Sentiment'])
df['Membership level_encoded']=le_encoder.fit_transform(df['Membership Level'])
df

,Customer ID,Gender,Review Sentiment,Membership Level,Review Sentiment_encoded,Membership level_encoded
0,001,Male,Positive,Gold,2,0
1,002,Female,Negative,Silver,0,2
2,003,Male,Neutral,Platinum,1,1
3,004,Female,Positive,Gold,2,0
4,005,Male,Negative,Silver,0,2

In [ ]:
membership_mapping = {'Bronze': 0, 'Silver': 1, 'Gold': 2, 'Platinum': 3}
df['Membership_encoded'] = data['Membership Level'].map(membership_mapping)
print(data)