=>Max-Abs Scaling :is a normalization technique that scales features to the range[âˆ’1,1] by dividing each feature value by the maximum absolute value of that feature. Unlike Min-Max scaling, it preserves sparsity and does not shift or center the data. This is particularly useful for data with positive and negative values and sparse data (i.e., datasets with many zeros)

### using numpy

In [5]:
import pandas as pd
import numpy as np


# Sample data
data = np.array([[1, -2, 3], 
                 [4, 0, -6], 
                 [-7, 8, 9]])

# Compute maximum absolute value for each feature
max_abs_data=np.max(np.abs(data),axis=0)
scaled_data=data/max_abs_data
scaled_data
scaled_df=pd.DataFrame(scaled_data)
scaled_df

          0     1         2
0  0.142857 -0.25  0.333333
1  0.571429  0.00 -0.666667
2 -1.000000  1.00  1.000000

### using sklearn library```

In [19]:
from sklearn.preprocessing import MaxAbsScaler
# Sample data
data = pd.DataFrame({
    'Feature1': [1, 4, -7],
    'Feature2': [-2, 0, 8],
    'Feature3': [3, -6, 9]
})

scaler=MaxAbsScaler()
scaled_data=scaler.fit_transform(data)


scaled_df=pd.DataFrame(scaled_data,columns=['Feature1','Feature2','Feature3'])
scaled_df

   Feature1  Feature2  Feature3
0  0.142857     -0.25  0.333333
1  0.571429      0.00 -0.666667
2 -1.000000      1.00  1.000000